/* Estilos gerais */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.6;
}

/* Portal Esportivo */
header {
  background: #111111;
  color: #ffffff;
  padding: 11px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Tamanho da fonte portal esportivo */
header h1 {
  margin: 0;
  font-size: 24px;
}

nav ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

/* Espaçamento botões */
nav ul li {
  margin-left: 20px;
}

nav ul li a {
  color: #ffffff;
  text-decoration: none;
  transition: color 0.3s;
}

/* Cor para os botões */
nav a:hover {
  color: #557dff; 
}

/* Hero */
.hero {
  background: url("https://images.unsplash.com/photo-1521412644187-c49fa049e84d") no-repeat center center/cover;
  color: #ffffff;
  text-align: center;
  padding: 80px 20px;
}

.hero h2 {
  font-size: 40px;
  margin-bottom: 10px;
}

/* Seção de esportes */
.sports {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  padding: 40px;
}

.card {
  border: 2px solid #000000;
  border-radius: 15px;
  overflow: hidden;
  transition: transform 0.3s;
  background: #ffffff;
  color:#000000
}

.card img {
  width: 100%;
  height: 175px;
  object-fit: cover;
}

.card h3 {
  margin: 10px;
}

.card p {
  margin: 0 10px 20px;
  font-size: 14px;
}

.card:hover {
  transform: scale(1.05);
}

/* Sobre */
.about {
  background: #006af5;
  padding: 40px 20px;
  text-align: center;
  color: #ffffff
}

/* Contato */
.contact {
  padding: 40px 20px;
  text-align: center;
}

.contact form {
  max-width: 400px;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.contact input, .contact textarea {
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #000000;
  border-radius: 4px;
}

.contact button {
  padding: 10px;
  border: none;
  background: #111;
  color: #fff;
  cursor: pointer;
  border-radius: 4px;
}

.contact button:hover {
  background: #333;
}

/* Rodapé do site */
footer {
  background: #111;
  color: #fff;
  text-align: center;
  padding: 15px;
}
